page-bitcoin {

    ion-grid {
        margin-top: 30vh;
    }

    h1 {
        color: rgb(255, 174, 0);
    }

    ion-img {
        background: transparent;
        width: 100px;
        height: 100px;
    }
    
}
